@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-UI-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter-UI-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-UI-Medium.woff2') format('woff2'),
    url('../assets/fonts/Inter-UI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-UI-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter-UI-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}